@model IEnumerable<Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Computers</h1>

<p>
    <a asp-controller="Computer" asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-dark">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Computer item in Model) {
            @if (String.IsNullOrEmpty(item.ProductImage))
            {
                item.ProductImage = "No-Image.jpg";
            }
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ComputerModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                    <img src="~/Images/@item.ProductImage" class="rounded-circle" height="200" width="200" alt="" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-secondary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
